{% extends '@SixnappsExtension/easy_admin/layout.html.twig' %}

{% block content_header %}
	<h1>
		Tableau de bord
		<small>Pilotez votre application...</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard fa-tachometer-alt"></i> Accueil</a></li>
		<li class="active">Tableau de bord</li>
	</ol>
{% endblock %}

{% block main %}
	{% include('@SixnappsAnalytic/dashboard/widget.stats.html.twig') %}

	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			{% for item in analytic() %}
				{% if not item.disabled %}
					{% if item.routes is iterable %}
						{% set route = item.routes[0] %}
					{% else %}
						{% set route = item.routes %}
					{% endif %}
					<li {% if app.request.get('_route') in item.routes %}class="active" {% endif %}>
						<a href="{{ path(route, {menuIndex: app.request.query.get('menuIndex'), submenuIndex: app.request.query.get('submenuIndex') } ) }}"
						   data-toggle="tooltip" title="{{ item.titre }}">
							<i class="{{ item.icon }}"></i>
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<div class="tab-content">
			{% block content_tab %}{% endblock %}
		</div>
	</div>
{% endblock %}

{% block body_javascript %}
	{{ parent() }}
	<script src="{{ asset('bundles/sixnappsextension/bower_components/chart.js/dist/Chart.min.js') }}"></script>
	<script src="{{ asset('bundles/sixnappsanalytic/bower_components/d3/d3.min.js') }}"></script>
{% endblock body_javascript %}
