{% extends '@SixnappsAnalytic/dashboard/dashboard.html.twig' %}

{% block content_tab %}
	<div id="idPage" data-id="{{ data.page.details.url_id }}"></div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="ui-txt-cap">{{ data.page.details.title }}</h1>
			<h3 style="color: grey;">
				{{ data.page.details.url }}
				<a title="Ouvrir dans un nouvel onglet" target="_blank" href="{{ data.page.details.url }}">
					<i style="font-size: 16px; color: grey;" class="fa fa-external-link"></i></a>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" style="padding: 0 25px;">
			<canvas style="height:40vh; width:50vw" id="line_chart_traffic"></canvas>
		</div>
		<div class="col-md-6" style="padding: 0 25px;">
			<canvas style="height:40vh; width:50vw" id="line_chart_view_time"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" style="padding: 0 25px;">
			<canvas style="height:40vh; width:50vw" id="line_chart_load_time"></canvas>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div>
				<h2>Entrant</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Date</th>
							<th>Lien</th>
							<th>Nombre</th>
						</tr>
					</thead>
					<tbody>
						{% for link in data.page.links_in %}
							<tr>
								<td><i class="fa ui-txt-grey"></i>
								</td>
								<td>{{ link.date }}</td>
								<td title="{{ link.url }}">{{ link.url }}</td>
								<td>{{ link.count }}</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="ui-full">
				<h2>Sortant</h2>
				<table class="table-striped table">
					<thead>
						<tr>
							<th></th>
							<th>Date</th>
							<th>Lien</th>
							<th>Nombre</th>
						</tr>
					</thead>
					<tbody>
						{% for link in data.page.links_out %}
							<tr>
								<td><i class="fa ui-txt-grey"></i>
								</td>
								<td>{{ link.date }}</td>
								<td><span title="{{ link.url }}">{{ link.url }}</span></td>
								<td>{{ link.count }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>



	{#<div class="legend">#}
	{#Legend:#}
	{#<ul>#}
	{#<li><i class="fa fa-exchange ui-txt-grey"></i> Internal Link</li>#}
	{#<li><i class="fa fa-link ui-txt-grey"></i> External Link</li>#}
	{#</ul>#}
	{#</div>#}
{% endblock %}

{% block body_javascript %}
	{{ parent() }}
	<script src="{{ asset('bundles/sixnappsanalytic/js/graph/line_chart_detail_page_view.js') }}"></script>
	<script src="{{ asset('bundles/sixnappsanalytic/js/graph/line_chart_detail_view_time.js') }}"></script>
	<script src="{{ asset('bundles/sixnappsanalytic/js/graph/line_chart_detail_load_time.js') }}"></script>
{% endblock body_javascript %}
