{% extends '@SixnappsAnalytic/dashboard/dashboard.html.twig' %}

{% block content_tab %}
	<div class="container-fullwidth">
		<div class="row" style="margin-bottom: 50px;">
			<div class="col-md-6" style="padding: 0 25px;">
				<canvas style="height:40vh; width:50vw" id="bar_chart_traffic"></canvas>
			</div>
			<div class="col-md-6" style="padding: 0 25px;">
				<canvas style="height:40vh; width:50vw" id="donut_device"></canvas>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" style="padding: 0 25px;">
				<canvas style="height:40vh; width:50vw" id="bar_chart_page_view"></canvas>
			</div>
			<div class="col-md-6" style="padding: 0 25px;">
				<canvas style="height:40vh; width:50vw" id="bar_chart_page_visit"></canvas>
			</div>
		</div>
	</div>


	{#<h1 ng-init="daily = true" ng-show="daily">daily visits <span delta data="chart.daily"></span></h1>#}
	{#<h1 ng-show="!daily">monthly visits</h1>#}

	{#<div class="ui-full">#}
	{#<div ng-show="daily" chart data="chart.daily" width="930" height="200" padding="6"></div>#}
	{#<div ng-show="!daily" chart data="chart.monthly" width="930" height="200" padding="5"></div>#}
	{#<p class="ui-txt-right switch">#}
	{#<a ng-click="daily=!daily">switch</a> to <span ng-show="daily">month</span><span ng-show="!daily">day</span> view#}
	{#</p>#}
	{#</div>#}

	{#<div class="ui-separate"></div>#}

	{#<div class="ui-separate"></div>#}

	{#<div class="ui-half">#}
	{#<h2>pages views <span delta data="chart.pg"></span></h2>#}
	{#<div chart data="chart.pg" width="450" height="150" padding="6"></div>#}
	{#<!-- <div class="avg">Avg XX page views <i class="fa fa-circle-o"></i></div> -->#}
	{#</div>#}
	{#<div class="ui-half">#}
	{#<h2>pages per visit <span delta data="chart.ppv"></span></h2>#}
	{#<div chart data="chart.ppv" width="450" height="150" padding="6"></div>#}
	{#<!-- <div class="avg">Today XX ppv, Avg XX ppv <i class="fa fa-circle-o"></i></div> -->#}
	{#</div>#}
	{#<div class="ui-clear"></div>#}

	{#<div class="ui-separate"></div>#}

	<div class="row">
		<div class="col-md-6">
			<h3>Cette semaine</h3>
			<table class="table table-striped">
				<tr>
					<th>Date</th>
					<th>Visites</th>
					<th>Vues</th>
					<th>Uniques</th>
				</tr>
				{% for day in data.traffic.daily %}
					<tr>
						<td>{{ day.jour }}</td>
						<td>{{ day.visites }}</td>
						<td>{{ day.vues }}</td>
						<td>{{ day.uniques }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-md-6">
			<h3>Ces dernieres heures</h3>
			<table class="table table-striped">
				<tr>
					<th>Date</th>
					<th>Visites</th>
					<th>Vues</th>
					<th>Uniques</th>
				</tr>
				{% for hour in data.traffic.hourly %}
					<tr>
						<td>{{ hour.heure }}</td>
						<td>{{ hour.visites }}</td>
						<td>{{ hour.vues }}</td>
						<td>{{ hour.uniques }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}

{% block body_javascript %}
	{{ parent() }}
	<script src="{{ asset('bundles/sixnappsanalytic/js/graph/bar_chart_traffic.js') }}"></script>
	<script src="{{ asset('bundles/sixnappsanalytic/js/graph/donut_device.js') }}"></script>
	<script src="{{ asset('bundles/sixnappsanalytic/js/graph/bar_chart_page_view.js') }}"></script>
	<script src="{{ asset('bundles/sixnappsanalytic/js/graph/bar_chart_page_visit.js') }}"></script>
{% endblock body_javascript %}

