{% extends '@SixnappsAnalytic/dashboard/dashboard.html.twig' %}

{% block content_tab %}
<div class="row">
	<div class="col-md-6">
		<h3>Navigateurs</h3>
		<table class="table table-full">
			<tbody>
				{% for browser in data.geo.browsers %}
					<tr>
						<td style="width:40px">
							<i class="fa fa-{{ browser.name }}"></i>
						</td>
						<td>
							<div>{{ browser.name }}</div>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-success" role="progressbar"
									 aria-valuenow="{{ browser.perc | percentage }}" aria-valuemin="0"
									 aria-valuemax="100" style="width: {{ browser.perc | percentage }}%"></div>
							</div>
						</td>
						<td class="text-right" style="width:40px">
							<span title="Count: {{ browser.count }}">{{ browser.perc | percentage }}%</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Systèmes d'exploitation</h3>
		<table class="table table-full">
			<tbody>
				{% for os in data.geo.os %}
					<tr>
						<td style="width:40px">
							<i class="fa fa-{{ os.name }}"></i>
						</td>
						<td>
							<div>{{ os.name }}</div>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-success" role="progressbar"
									 aria-valuenow="{{ os.perc | percentage }}" aria-valuemin="0" aria-valuemax="100"
									 style="width: {{ os.perc | percentage }}%"></div>
							</div>
						</td>
						<td class="text-right" style="width:40px">
							<span title="Count: {{ os.count }}">{{ os.perc | percentage }}%</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3>Résolutions</h3>
		<table class="table table-full">
			<tbody>
				{% for res in data.geo.resolutions %}
					<tr>
						<td style="width:40px"><i class="fa fa-expand"></i></td>
						<td>
							<div>{{ res.name }}</div>
							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-success" role="progressbar"
									 aria-valuenow="{{ res.perc | percentage }}" aria-valuemin="0" aria-valuemax="100"
									 style="width: {{ res.perc | percentage }}%"></div>
							</div>
						</td>
						<td class="text-right" style="width:40px">
							<span title="Count: {{ res.count }}" tooltip>{{ res.perc | percentage }}%</span>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Langues</h3>
		<table class="table table-full">
			<tbody>
				{% for lang in data.geo.languages %}
					<tr>
						<td style="width:40px"><i class="fa fa-language"></i></td>
						<td>
							<div>{{ lang.name }}</div>
							<div class="bar"
								 style="border-left-width: {{ 280 * lang.perc }}px;border-right-width:{{ 280 * (1-lang.perc) }}px;"></div>
						</td>
						<td class="text-right"  style="width:40px">
							<span title="Count: {{ lang.count }}" tooltip>{{ lang.perc | percentage }}%</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
