{% extends '@SixnappsAnalytic/dashboard/dashboard.html.twig' %}

{% block content_tab %}

	<!--
	<div class="ref-header">
		<div class="ui-fourth ui-txt-center"><i class="fa fa-download"></i> direct 0.0%</div>
		<div class="ui-fourth ui-txt-center"><i class="fa fa-comment-o"></i> social 0.0%</div>
		<div class="ui-fourth ui-txt-center"><i class="fa fa-search"></i> search 0.0%</div>
		<div class="ui-fourth ui-txt-center"><i class="fa fa-share"></i> links 0.0%</div>
		<div class="ui-clear"></div>
	</div>
	-->
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="5%"></th>
				<th>Hôte</th>
				<th width="5%" class="center">Distinct</th>
				<th width="5%" class="center">%</th>
			</tr>
		</thead>
		<tbody>
			{% for link in data.sources.all %}
				<tr>
					<td class="ui-txt-center">
						<i class="fa fa-globe"></i>
					</td>
					<td>
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#{{ link.url_id }}">{{ link.host }}</a>
						</h4>
						<div id="{{ link.url_id }}" class="panel-collapse collapse">
							<p style="margin: 10px 0 0 15px;">({{ link.count }} vues)</p>
						</div>

					</td>
					<td style="text-align: center;">{{ link.urls }}</td>
					<td style="text-align: left;"><span>{{ link.perc | percentage }}</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
