{% extends '@SixnappsAnalytic/dashboard/dashboard.html.twig' %}

{% form_theme form '@EasyAdmin/form/bootstrap_3_horizontal_layout.html.twig' %}

{% block content_tab %}
	<h3>Configuration d'analytic sur votre domain</h3>
	<p>La plupart du temps, il est inutile de modifier les valeurs ci-dessous. Il vous suffit de les enregistrer directement</p>
	{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6">
			{{ form_row(form.host) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.name) }}
		</div>
		<div class="col-md-12">
			{{ form_row(form.submit) }}
		</div>

	</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
	<div style="clear:both"></div>
{% endblock %}

{% block body_javascript %}

{% endblock %}

