{% extends '@SixnappsAnalytic/dashboard/dashboard.html.twig' %}

{% block content_tab %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Titre</th>
				<th>Temps</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			{% for page in data.content %}
				<tr>
					<td class="ui-txt-grey ui-txt-center">
						{% if page.error == 0 %}
							<span><i class="fa fa-circle-o ui-txt-grey"></i></span>
						{% else %}
							<span><i class="fa fa-times-circle ui-txt-red"></i>	</span>
						{% endif %}
					</td>

					<td>
						<a href="{{ page.url }}" class="link" title="{{ page.url }}" tooltip>{{ page.title }}</a>
						<!-- <a ng-show="page.star == 0" ng-click="star(page, true)" class="ui-txt-grey"><i class="fa fa-star-o"></i> -->
						<!-- <a ng-show="page.star == 1" ng-click="star(page, false)" class="ui-txt-yellow"><i class="fa fa-star"></i> -->
						<!-- page.spam -->
						<a href="{{ path('sixnapps_analytic_dashboard_page',{page: page.url_id}) }}"
						   style="font-size: 12px; color: #666;">details</a>
						<div class="bar"
							 style="border-left-width: {{ 100 * page.perc }}px;border-right-width:{{ 100 * (1-page.perc) }}px;"></div>
					</td>
					<td class="ui-txt-center">{{ page.avg_time }}</td>
					<td class="ui-txt-right"><span title="Count: {{ page.pv }}">{{ page.perc | percentage }}</span></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{#<div class="legend">#}
	{#Legend:#}
	{#<ul>#}
	{#<li><i class="fa fa-times-circle ui-txt-red"></i> File Not Found (HTTP 404)</li>#}
	{#</ul>#}
	{#</div>#}
{% endblock %}
