{% extends '@SixnappsAnalytic/dashboard/dashboard.html.twig' %}

{% block content_tab %}

	<div class="row">
		<div class="col-md-12">
			<div id="map" style="height: 500px;" data-data="{{ data.map.coordinate|json_encode }}"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Regions</h3>
			<table class="table-striped table">
				<tbody>
					{% for city in data.map.city %}
						<tr>
							<td>
								{#<div class="flags {{ country.alpha2code|lower }}"></div>#}
								{{ city.country }}
							</td>
							<td>
								{{ city.region }}
								{#<div class="bar"#}
								{#style="border-left-width: {{ 280 * country.perc }}px;border-right-width:{{ 280 * (1-country.perc) }}px;"></div>#}
							</td>
							<td><span>{{ data.country.perc | percentage }} %</span></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h3>Villes</h3>
			<table class="table table-striped">
				<tbody>
					{% for city in data.map.city %}
						<tr>
							<td>
								{#<div class="flags {{ city.alpha2code|lower }}"> <div>#}
								{{ city.country }}
							</td>
							<td>
								{{ city.city }}
								{#<div class="bar"#}
								{#style="border-left-width: {{ 280 * city.perc }}px;border-right-width:{{ 280 * (1-city.perc) }}px;"></div>#}
							</td>
							<td><span>{{ city.perc | percentage }} %</span></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhZn-Oqs8-O9UXgvOakmWrq7jiJkHceKE&libraries=visualization&callback=initMap"
			async defer></script>
	<script>
		let map;

		function initMap() {
			let mapStyle = [
				{
					"featureType": "all",
					"elementType": "labels.text.fill",
					"stylers":     [
						{
							"saturation": 36
						},
						{
							"color": "#333333"
						},
						{
							"lightness": 40
						}
					]
				},
				{
					"featureType": "all",
					"elementType": "labels.text.stroke",
					"stylers":     [
						{
							"visibility": "on"
						},
						{
							"color": "#ffffff"
						},
						{
							"lightness": 16
						}
					]
				},
				{
					"featureType": "all",
					"elementType": "labels.icon",
					"stylers":     [
						{
							"visibility": "off"
						}
					]
				},
				{
					"featureType": "administrative",
					"elementType": "geometry.fill",
					"stylers":     [
						{
							"color": "#fefefe"
						},
						{
							"lightness": 20
						}
					]
				},
				{
					"featureType": "administrative",
					"elementType": "geometry.stroke",
					"stylers":     [
						{
							"color": "#fefefe"
						},
						{
							"lightness": 17
						},
						{
							"weight": 1.2
						}
					]
				},
				{
					"featureType": "landscape",
					"elementType": "geometry",
					"stylers":     [
						{
							"color": "#f5f5f5"
						},
						{
							"lightness": 20
						}
					]
				},
				{
					"featureType": "poi",
					"elementType": "geometry",
					"stylers":     [
						{
							"color": "#f5f5f5"
						},
						{
							"lightness": 21
						}
					]
				},
				{
					"featureType": "poi.park",
					"elementType": "all",
					"stylers":     [
						{
							"visibility": "off"
						}
					]
				},
				{
					"featureType": "poi.park",
					"elementType": "geometry",
					"stylers":     [
						{
							"color": "#dedede"
						},
						{
							"lightness": 21
						}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "geometry.fill",
					"stylers":     [
						{
							"color": "#ffffff"
						},
						{
							"lightness": 17
						}
					]
				},
				{
					"featureType": "road.highway",
					"elementType": "geometry.stroke",
					"stylers":     [
						{
							"color": "#ffffff"
						},
						{
							"lightness": 29
						},
						{
							"weight": 0.2
						}
					]
				},
				{
					"featureType": "road.arterial",
					"elementType": "geometry",
					"stylers":     [
						{
							"color": "#ffffff"
						},
						{
							"lightness": 18
						}
					]
				},
				{
					"featureType": "road.local",
					"elementType": "geometry",
					"stylers":     [
						{
							"color": "#ffffff"
						},
						{
							"lightness": 16
						}
					]
				},
				{
					"featureType": "transit",
					"elementType": "geometry",
					"stylers":     [
						{
							"color": "#f2f2f2"
						},
						{
							"lightness": 19
						}
					]
				},
				{
					"featureType": "water",
					"elementType": "geometry",
					"stylers":     [
						{
							"color": "#e9e9e9"
						},
						{
							"lightness": 17
						}
					]
				}
			];

			map = new google.maps.Map( document.getElementById( "map" ), {
				center: { lat: 46.929362, lng: 2.95752 },
				zoom:   6,
				styles: mapStyle
			} );

			let coordinateData = [];
			$( "#map" ).data( "data" ).forEach( function ( item ) {
				console.log(item);
				coordinateData.push( new google.maps.LatLng( item.lat, item.long ) )
			} );

			heatmap = new google.maps.visualization.HeatmapLayer( {
				data: coordinateData,
				map:  map
			} );
		}
	</script>
{% endblock %}
