{% extends '@SixnappsAnalytic/dashboard/dashboard.html.twig' %}

{% block content_tab %}
	<div id="graph"></div>

	<div class="legend">
		Legend:
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><i class="fa fa-circle-o text-green"></i> Internal Link</li>
			<li class="list-group-item"><i class="fa fa-circle-o text-grey"></i> External Link</li>
			<li class="list-group-item"><i class="fa fa-circle-o text-red"></i> File Not Found (HTTP 404)</li>
		</ul>
	</div>
	<script>
		$( function () {
			$( "#graph" ).empty();
			$.ajax( {
				url: Routing.generate( "sixnapps_analytic_dashboard_graph_data" )
			} ).done( function ( response ) {
				console.log( response );
				let nodes = [], links = [], map = {}, map_key = {}, counter = 0;

				response.forEach( function ( item, index ) {
					let fromPos, toPos;

					//does exists?
					if ( map[ item.fromURL.replace( "http://", "" ).replace( window.location.hostname, "" ) ] === undefined ) {
						let group;
						if ( item.fromHost == window.location.hostname ) {

							//internal link
							if ( item.fromErr == 1 ) {
								group = 1;
							} else {
								group = 2;
							}
						} else {
							group = 3;
						}

						nodes.push(
							{
								name:  item.fromURL.replace( "http://", "" ).replace( window.location.hostname, "" ),
								group: group
							}
						);

						map[ item.fromURL.replace( "http://", "" ).replace( window.location.hostname, "" ) ] = counter;
						fromPos                                                                              = counter;
						counter++;
					} else {
						fromPos = map[ item.fromURL.replace( "http://", "" ).replace( window.location.hostname, "" ) ];
					}

					if ( map[ item.toURL.replace( "http://", "" ).replace( window.location.hostname, "" ) ] === undefined ) {
						let group;

						if ( item.toHost == window.location.hostname ) {
							if ( item.toErr == 1 )
								group = 1;
							else
								group = 2
						} else {
							group = 3;
						}

						nodes.push(
							{
								name:  item.toURL.replace( "http://", "" ).replace( window.location.hostname, "" ),
								group: group
							} );

						map[ item.toURL.replace( "http://", "" ).replace( window.location.hostname, "" ) ] = counter;
						toPos                                                                              = counter;
						counter++;
					} else {
						toPos = map[ item.toURL.replace( "http://", "" ).replace( window.location.hostname, "" ) ];
					}

					links.push( {
						source: fromPos,
						target: toPos,
						value:  item.count
					} );
				} );

				let width = $( "#graph" ).width(), height = 700;
				let color = d3.scale.category20();
				let force = d3.layout.force()
							  .charge( -100 )
							  .linkDistance( 300 )
							  .size( [ width, height ] );

				let svg = d3.select( "#graph" )
							.append( "svg" )
							.attr( "width", width )
							.attr( "height", height );

				force.nodes( nodes ).links( links ).start();

				let link = svg.selectAll( ".link" )
							  .data( links )
							  .enter().append( "line" )
							  .attr( "class", "link" )
							  .style( "stroke-width", function ( d ) {
								  return Math.sqrt( d.value );
							  } )
							  .style( "stroke", function ( d ) {
								  return color( d.group );
							  } )
				;

				let node = svg.selectAll( ".node" )
							  .data( nodes )
							  .enter().append( "g" )
							  .call( force.drag )
					// .style("fill", function(d) { return color(d.group); })
				;

				node.append( "circle" ).attr( "class", "node" ).style( "fill", function ( d ) {
					let red = "#EC5B53", grey = "#BFBFBF", green = "#AEE29A";
					switch ( d.group ) {
						case 1:
							return red;
							break;
						case 2:
							return green;
							break;
						case 3:
							return grey;
							break;
					}

				} ).attr( "r", 8 );

				node.append( "text" )
					.attr( "class", "graph-text" )
					.attr( "x", 12 )
					.attr( "dy", ".35em" )
					.text( function ( d ) {
						return d.name;
					} );

				force.on( "tick", function () {
					link.attr( "x1", function ( d ) {
						return d.source.x;
					} )
						.attr( "y1", function ( d ) {
							return d.source.y;
						} )
						.attr( "x2", function ( d ) {
							return d.target.x;
						} )
						.attr( "y2", function ( d ) {
							return d.target.y;
						} );

					node.attr( "transform", function ( d ) {
						return "translate(" + d.x + "," + d.y + ")";
					} );
				} );

			} );
		} );
	</script>
{% endblock %}
