<div class="row">
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-aqua">
			<div class="inner">
				{% if data.traffic.daily|length %}
					<h3>{{ data.traffic.daily[0].visites }} <sup style="font-size: 20px">visite(s)</sup></h3>
				{% else %}
					<h3>0 <sup style="font-size: 20px">visite</sup></h3>
				{% endif %}
				<p>Aujourd'hui</p>
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a href="#" class="small-box-footer">Plus d'infos <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-green">
			<div class="inner">
				{% if data.traffic.daily|length %}
					<h3>{{ data.traffic.daily[0].vues }} <sup style="font-size: 20px">page(s) vue(s)</sup></h3>
				{% else %}
					<h3>0 <sup style="font-size: 20px">page vue</sup></h3>
				{% endif %}
				<p>Aujourd'hui</p>
			</div>
			<div class="icon">
				<i class="ion ion ion-pie-graph"></i>
			</div>
			<a href="#" class="small-box-footer">Plus d'infos <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-yellow">
			<div class="inner">
				{% if data.traffic.monthly|length %}
					<h3>{{ data.traffic.monthly[0].visites }} <sup style="font-size: 20px">visite(s)</sup></h3>
				{% else %}
					<h3>0 <sup style="font-size: 20px">visite</sup></h3>
				{% endif %}
				<p>30 derniers jours</p>
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a href="#" class="small-box-footer">Plus d'infos <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-red">
			<div class="inner">
				{% if data.traffic.monthly|length %}
					<h3>{{ data.traffic.monthly[0].vues }} <sup style="font-size: 20px">page(s) vue(s)</sup></h3>
				{% else %}
					<h3>0 <sup style="font-size: 20px">page vue</sup></h3>
				{% endif %}
				<p>30 derniers jours</p>
			</div>
			<div class="icon">
				<i class="ion ion-pie-graph"></i>
			</div>
			<a href="#" class="small-box-footer">Plus d'infos <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
